{% extends 'layouts/about.njk' %} {% set page = { class: 'page-about', title:
'About' } %} {% block content %}
<section class="pv-content">
  <div class="pattern">
    <h1>{{page.title}}</h1>
    <h2>We're just getting started.</h2>

    <h3>About the team</h3>
    <p>
      The USPTO Design System is created and maintained by the User Experience
      (UX) team at the United States Patent and Trademark Office.
    </p>

    <h3>Our mission</h3>
    <p>
      To ensure that all USPTO websites and applications are designed (and
      built) with the direct end-user in mind at all times, and are highly
      usable, useful, desirable, and accessible.
    </p>

    <h3>License information</h3>
    <p>This project includes a mix of the following:</p>
    <ul>
      <li>Open source works that are not in the public domain</li>
      <li>
        Open source work by the U.S. government that is in the public domain
      </li>
    </ul>
    <div class="mb-3">
      <a
        href="https://github.com/USPTO/USPTO-DS-Theme/blob/master/LICENSE.md"
        target="_blank"
        >View license details</a
      >
    </div>

    <h3>Acknowledgements</h3>
    <ul>
      <li>
        <a href="https://designsystem.digital.gov/"
          >U.S. Web Design Standards (USWDS)</a
        >
      </li>
      <li>
        <a href="https://getbootstrap.com/">Bootstrap 4 and bootstrap icons</a>
      </li>
      <li>
        <a href="https://material.io/resources/icons/?style=baseline"
          >Google Material icons</a
        >
      </li>
    </ul>

    <h3>Contributing</h3>
    <p>
      We’re so glad you’re thinking about contributing to an USPTO open source
      project! If you’re unsure about anything, just ask — or submit your issue
      or pull request anyway. The worst that can happen is we’ll politely ask
      you to change something. We appreciate all friendly contributions.
      <a
        href="https://github.com/USPTO/USPTO-DS-Theme/blob/master/CONTRIBUTING.md"
        target="_blank"
        >Contributing to this project
      </a>
    </p>
  </div>
</section>

{% endblock %}
