{% extends 'layouts/patterns.njk' %} {% set navLinkIndex = 1 %} {% set page = {
class: 'page-patterns', title: 'Patterns' } %} {% block content %}
<section>
  <div class="pattern">
    <h1>{{page.title}}</h1>
    <h2>Combining components</h2>
    <p>
      <p>
        Our patterns are pre-assembled components to solve common interface problems at the USPTO.  These items are used throughout good interfaces, and should remain consistent from one experience to the next.
      </p>
      <p>
        UX design patterns help designers and developers create workable solutions to common interface problems. Our UX patterns will incorporate design best practices for the entirety of functionality.
      </p>
  </div>
</section>

{% endblock %}
