.parent-container {
  @extend .d-flex;
  @extend .flex-column;
  background: #eee;
  .main-container {
    @extend .container-fluid;
    @extend .d-flex;
    @extend .flex-nowrap;
    @extend .flex-grow-1;
  }
}

.page-landing {
  .main-container {
    padding: 0;
  }
}

.footer {
  background-color: #252f3e;
  color: white;
}

main {
  width: 100%;
  > section {
    background: $white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin: 2rem 0;
    .pattern,
    .preview {
      padding: 2rem;
    }
    .preview {
      border-bottom: 1px solid #eee;
    }
    .pattern {
      border-bottom: 1px solid #eee;
    }
    .pv-xs {
      .preview-size {
        max-width: 15rem;
      }
    }
    .pv-sm {
      .preview-size {
        max-width: 30rem;
      }
    }
    .pv-md {
      .preview-size {
        max-width: 50rem;
      }
    }
    .pv-lg {
      .preview-size {
        max-width: 75rem;
      }
    }
    .pv-only {
      .modal {
        position: relative !important;
        display: block !important;
      }
      .dropdown-menu {
        position: relative !important;
        display: block !important;
        float: none;
      }
      .toast {
        transition: opacity 0.15s linear;
        display: block;
        opacity: 1;
      }
    }
    .preview-size {
      .popover {
        display: none;
      }
    }
  }
}

//popover
.popover-toolbar {
  display: inline-block;
  width: 100%;
  padding: 0.65rem 1rem 0.2rem 1rem;
  border-top: 1px solid #ebebeb;
}

// meta data
.dl-inline {
  dd,
  dt {
    font-weight: 400;
    float: left;
    display: inline-block;
    color: #707070;
    margin-right: 4px;
    margin-bottom: 0;
  }
  dt:after {
    content: ":";
    display: inline-block;
  }
  dd:after {
    margin-left: 8px;
    margin-right: 4px;
    display: inline-block;
    content: "•";
  }
  dd:last-child:after {
    display: none;
  }
}
.dl-inverse {
  dt {
    font-weight: normal;
  }
  dd {
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .dl-horizontal {
    dt {
      float: left;
      width: 160px;
      clear: left;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      margin-left: 180px;
      margin-bottom: 0;
    }
  }
}
.dl-horizontal {
  dd:before,
  dd:after {
    content: " ";
    display: table;
  }
  dd:after {
    clear: both;
  }
}

.pl-main {
  padding-bottom: 75px;
  background-image: url(../../assets/img/hero-mockup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  h1 {
    font-weight: 200;
    span {
      font-weight: bold;
    }
  }
  .pl-sub-main {
    opacity: 0.6;
  }
}

// .collapsing {
//   transition: .3s transform linear;
// }

.img-thumbnail {
  max-width: 10rem;
}

.swatches {
  display: flex;
}
.color-swatch-tile {
  width: 160px;
  padding: 1rem;
  box-shadow: 0 0 10px #ccc;
  margin-right: 1rem;
}
.color-swatch {
  height: 9rem;
}
.color-name {
  font-weight: bold;
  margin: 0 0 3px 0;
}
.color-notes {
  font-size: 0.9rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE11-specific */
  .parent-container {
    display: block !important;
  }
}

@media (max-width: 768.98px) {
  .main-container {
    flex-direction: column !important;
  }
}
