.parent-container {
  @extend .d-flex;
  @extend .flex-column;
  background: #eee;
  .main-container {
    @extend .container-fluid;
    @extend .d-flex;
    @extend .flex-nowrap;
    @extend .flex-grow-1;
  }
}

.page-landing {
  .main-container {
    padding: 0;
  }
}

.footer {
  background-color: #252f3e;
  color: white;
}


main {
  width: 100%;
  > .pv-content {
    background: $white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin: 2rem 0;
    .pattern,
    .preview {
      padding: 2rem;
    }
    .preview {
      border-bottom: 1px solid #eee;
    }
    .pattern {
      border-bottom: 1px solid #eee;
    }
    .pv-xs {
      .preview-size {
        max-width: 15rem;
      }
    }
    .pv-sm {
      .preview-size {
        max-width: 30rem;
      }
    }
    .pv-md {
      .preview-size {
        max-width: 50rem;
      }
    }
    .pv-lg {
      .preview-size {
        max-width: 75rem;
      }
    }
    .pv-only {
      .modal {
        position: relative !important;
        display: block !important;
      }
      .dropdown-menu {
        position: relative !important;
        display: block !important;
        float: none;
      }
      .toast {
        transition: opacity 0.15s linear;
        display: block;
        opacity: 1;
      }
    }
    .preview-size {
      .popover {
        display: none;
      }
    }
  }
}

//popover
.popover-toolbar {
  display: inline-block;
  width: 100%;
  padding: 0.65rem 1rem 0.2rem 1rem;
  border-top: 1px solid #ebebeb;
}

// meta data
.dl-inline {
  dd,
  dt {
    font-weight: 400;
    float: left;
    display: inline-block;
    color: #707070;
    margin-right: 4px;
    margin-bottom: 0;
  }
  dt:after {
    content: ":";
    display: inline-block;
  }
  dd:after {
    margin-left: 8px;
    margin-right: 4px;
    display: inline-block;
    content: "•";
  }
  dd:last-child:after {
    display: none;
  }
}
.dl-inverse {
  dt {
    font-weight: normal;
  }
  dd {
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .dl-horizontal {
    dt {
      float: left;
      width: 160px;
      clear: left;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      margin-left: 180px;
      margin-bottom: 0;
    }
  }
}

@media(max-width: 576px) {
  #bottomButtons button {
      width: 100%;
  margin-bottom: .5rem;
  }
}

.dl-horizontal {
  dd:before,
  dd:after {
    content: " ";
    display: table;
  }
  dd:after {
    clear: both;
  }
}

.pl-main {
  padding-bottom: 75px;
  background-image: url(../../assets/img/hero-mockup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  h1 {
    font-weight: 200;
    span {
      font-weight: bold;
    }
  }
  .pl-sub-main {
    opacity: 0.6;
  }
}

.table-config-column {
  width: 32px;
  text-align: center;
}
.table-config-column:hover {
  background-color: #f0f0f0;
}
// .collapsing {
//   transition: .3s transform linear;
// }

.img-thumbnail {
  max-width: 10rem;
}

.swatches {
  display: flex;
}
.color-swatch-tile {
  padding: 1rem;
  box-shadow: 0 0 10px #ccc;
  margin-right: 1rem;
}
.color-swatch {
  height: 4rem;
}
.color-name {
  font-weight: bold;
  margin: 0 0 3px 0;
}
.color-notes {
  font-size: 0.9rem;
}
// Swatch colors
@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: $value;
  }
}

.swatch-warning {
  background-color: #ffbe2e !important;
}

// Grid examples
.pl-grid-example .row > div {
  background: #f0f0f0;
  color: #999;
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
  margin-bottom: 16px;
}

//Material design icons size
.material-icons.md-1 {
  font-size: 1rem;
}
.material-icons.md-2 {
  font-size: 1.35rem;
}
.material-icons.md-3 {
  font-size: 2.25rem;
}
.material-icons.md-4 {
  font-size: 3rem;
}

//Full brand color paletter background classes
@mixin color-modifiers(
  $attribute1: "background-color",
  $attribute2: "color",
  $prefix: "-",
  $separator: "-"
) {
  @each $name, $color in $uspto-colors {
    &#{$prefix}#{$name} {
      @each $weight, $hex in $color {
        &#{$separator}#{$weight} {
          #{$attribute1}: $hex;
          #{$attribute2}: color-yiq($hex);
        }
      }
    }
  }
}

.swatch {
  @include color-modifiers;
}

.swatch-yellow-700 {
  color: #000 !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE11-specific */
  .parent-container {
    display: block !important;
  }
}

@media (max-width: 768.98px) {
  .main-container {
    flex-direction: column !important;
  }
}


/* multiple file upload */
.input-upload-area:hover, .dragover {background: #f0f0f0; 
  -moz-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -o-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition:transform 0.3s ease-in-out;
  -ms-transition:transform 0.3s ease-in-out;
}