.parent-container {
  @extend .d-flex;
  @extend .flex-column;
  background: #eee;
  .main-container {
    @extend .container-fluid;
    @extend .d-flex;
    @extend .flex-nowrap;
    @extend .flex-grow-1;
  }
}

.page-landing{
  .main-container {
    padding: 0;
  }
}

.navbar-top,
.footer {
  background-color: #252f3e;
  color: white;
}

header {
  .navbar {
    @extend .text-white;
    li {
      a.nav-link {
        color: $white !important;
        @include hover {
          text-decoration: underline;
        }
        &:focus {
          text-decoration: underline;
        }
      }
      &.active {
        a {
          background-color: #1a4480;
        }
      }
    }
    .navbar-brand {
      @extend .text-white;
      @extend .font-weight-bold;
      padding-left: 0.5rem;
      text-decoration: none;
    }
    @media (min-width: 768.98px) {
      padding: 0 1rem 0 0.5rem;
    }
  }
}

.sidenav {
  li {
    ul.sidenav-sublist {
      display: none;
    }
  }
  li.active {
    background-color: $light-lightest;
    font-weight: $font-weight-bold;
    ul.sidenav-sublist {
      display: block;
      font-weight: $font-weight-normal;
    }
  }
}

main {
  width: 100%;
  > section {
    background: $white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin: 2rem 0;
    .pattern {
      padding: 2rem;
    }
    .preview {
      border-top: 2px solid rgba(0, 0, 0, 0.1);
      .code-box {
        @extend .d-flex;
        @extend .flex-column;
      }
    }
  }
}

.img-thumbnail {
  max-width: 10rem;
}

.swatches {
  display: flex;
}
.color-swatch-tile {
  width: 160px;
  padding: 1rem;
  box-shadow: 0 0 10px #ccc;
  margin-right: 1rem;
}
.color-swatch {
  height: 150px;
}
.color-name {
  font-weight: bold;
  margin: 0 0 3px 0;
}
.color-notes {
  font-size: 0.9rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE11-specific */
  .parent-container {
    display: block !important;
  }
}

@media (max-width: 768.98px) {
  .main-container {
    flex-direction: column !important;
  }
}
