{% macro cardSwatch(colorName, colorValue, colorNotes) %}
  <div class="color-swatch-tile">

    <div class="color-swatch"
         style="background-color: {{ colorValue }};"></div>

    <div class="color-name">
      {{ colorName }}
    </div>

    <div class="color-notes">
      {{ colorNotes }}
    </div>

  </div>
{% endmacro %}

{% macro viewCode(o) %}

  {% set id = o.id or uid('codebox') %}
  {% set code = o.code %}
  
  {% set blocks = o.codeBlocks or[
    {
      html: o.html,
      code: o.code
    }
  ] %}

  <div class="code-box{% if o.class %} {{ o.class }}{% endif %}">
  <h2>Example</h2>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group btn-group-sm ml-auto" role="group" aria-label=" group">
        {# <button type="button" class="btn btn-light">Example</button> #}
        {{ viewCodeButton(id, o.ariaLabel) }}
        {{ copyCodeButton(o.code) }}
      </div>

    </div>

    <div class="pattern" >
      {% for block in blocks %}
      <div>
        {{ block.code | safe | trim }}
        
        </div>
        <div class="collapse line-numbers" id="{{ id }}">

          {{ (block.html or 'Example HTML usage:') | indent(16) | safe | trim }}

          {% if block.code %}
           <div class="codeArea">
 {% code %}{{ block.code | safe | trim }}{% endcode %}
</div>
          {% endif %}
        </div>
      {% endfor %}

    </div>

  </div>

{% endmacro %}


{% macro viewCodeButton (controls, label, text, className = 'btn-dark') -%}

  <button class="btn btn-light btn-collapse collapsed"

      aria-controls="{{ controls }}"

      aria-label="{{ label }}"

      aria-expanded="false"

      data-target="#{{ controls }}"

      data-toggle="collapse"

      type="button"

    >   

     View Code

  </button>

{%- endmacro %}

{% macro copyCodeButton (controls) -%}

  <button class="btn btn-light clipboard"      

      data-clipboard-text="{{ controls }}"

      type="button"

    >

    

     Copy Code

  </button>

{%- endmacro %}

