<footer class="footer py-3">
  <div class="container text-center">
    <p>Need help? Questions? Need to report a bug?</p>
    <p>Create an issue on our <a href="https://github.com/USPTO/USPTO-DS-Theme" target="_blank" class="text-white-50">Github repository</a>.</p>
    <p>Created and maintained with <span class="text-danger md-xs material-icons">favorite</span> by the Experience Design Team @ the USPTO</p>
  </div>
</footer>
