<footer class="footer py-3">
  <div class="container text-center">
    <p>Need help? Questions? Need to report a bug?</p>
    <p>Create an issue on our <a href="https://github.com/USPTO/USPTO-DS-Theme" target="_blank" class="text-white-50">Github repository</a>.</p>
  </div>
</footer>
