<footer class="footer py-3">
  <div class="container text-center">
    <p>Need help? Questions or concerns?</p>
    <p class="text-muted">Create an issue on our Github repository or email us.</p>
  </div>
</footer>

