<div class="uspto-header-middle ">
  <div class="flex-fill">
    <a class="navbar-brand" href="{{ relativeRoot }}{{ links.home }}" title="USPTO Design System Home">
          USPTO <span class="font-weight-light">Design System (Beta)</span>
    </a>
    <a class="float-right mr-4 mt-2" href="{{ header.links[0].href }}" title="{{ header.links[0].title }}" >
     <img src="{{relativeRoot}}assets/img/GitHub-Mark-32px.png" alt="View on GitHub" style="width:22px; vertical-align:top;"> {{ header.links[0].text | safe }}
    </a>
  </div>
</div>
{# Since there is only one link - list doesnt make any sense
      <div class="nav-collapse-section">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </div>
    #}
