  <script src="{{ relativeRoot }}assets/vendor/jquery/jquery.min.js{{ x }}"></script>
  <script src="{{ relativeRoot }}assets/vendor/popper/popper.min.js{{ x }}"></script>
  <script src="{{ relativeRoot }}assets/vendor/bootstrap/bootstrap.min.js{{ x }}"></script>
  <script src="{{ relativeRoot }}assets/js/main.js{{ x }}"></script>
  

