<script src="{{ relativeRoot }}assets/vendor/jquery/jquery.min.js{{ x }}"></script>
<script src="{{ relativeRoot }}assets/vendor/popper/popper.min.js{{ x }}"></script>
<script src="{{ relativeRoot }}assets/vendor/bootstrap/bootstrap.min.js{{ x }}"></script>
<script src="{{ relativeRoot }}assets/vendor/prismjs/prism.js"></script>
<script src="{{ relativeRoot }}assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.js"></script>
<script src="{{ relativeRoot }}assets/vendor/clipboard/clipboard.min.js"></script>
<script src="{{ relativeRoot }}assets/js/main.js{{ x }}"></script>
<script src="{{ relativeRoot }}assets/vendor/uswds/uswds.min.js"></script>