<nav id="sidenav" aria-label="DPL Components">
<ul class="sidenav">
    {% for item in navLinks %}
      <li>
        <a href="{{item.href}}">{{item.text}}</a>
        {# <ul>
          <li>New Link</li>
        </ul> #}
      </li>
    {% endfor %}
  </ul>
</nav>


