<nav id="sidenav" aria-label="DPL Components">
<ul class="sidenav">
    {% for item in navLinks %}
      <li>
        <a href="{{item.href}}">{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>


