<div class="uspto-header-bottom">
  <nav class="navbar navbar-expand-md navbar-dark " aria-label="header sub navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for link in subHeader.links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ relativeRoot }}{{ link.href }}" title="{{ link.title or link.text }}">
              {{ link.text | safe }}
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </nav>
</div>