<div class="navbar navbar-expand">
  <ul class="navbar-nav">
    {% for link in subHeader.links %}
      <li class="nav-item">
        <a class="nav-link " href="{{ relativeRoot }}{{ link.href }}" title="{{ link.title or link.text }}">
          {{ link.text | safe }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>