<nav class="" id="sidenav" aria-label="DPL Components">
<ul class="list-group">
    {% for item in sidenav %}
      <li class="list-group-item">
        <a class="" href="{{item.href}}">{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

