{% extends 'layouts/components.njk' %} {% set page = { class: 'page-badges' } %}
{% block content %}
  <section>
    <div class="pattern">
      <h1 id="labels">Labels</h1>
      <p>Labels are generally used to provide emphasis on a characteristic of an object, e.g., the category of a document. They are generally actionless.</p>
      <p>Avoid mixing standard and subtle labels.</p>
      <h3 id="standard">Standard</h3>
      <p>Use standard labels by default unless there are going to be many on the screen at once.</p>
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for standard labels',    code: standardBadges  }, 'Standard labels')}}
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for pill labels',    code: pillBadges  }, 'Pill labels')}}
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for link labels',    code: linkBadges  }, 'Link labels')}}
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for subtle labels',    code: subtleBadges  }, 'Subtle labels')}}
    </div>
  </section>
  <section>
    <div class="pattern">
      <h2 id="badges">Badges</h2>
      <p>Badges are generally used for emphasizing a numerical characteristic of an object, e.g., the number of unread items in a folder.</p>
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for subtle badges',    code: smallBadges  }, '')}}
    </div>
    <div class="preview pv-xs">
      {{  macros.viewCode({   ariaLabel: 'view code for menu badges',    code: menuBadges  }, '')}}
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for menu badges',    code: buttonBadges  }, '')}}
    </div>
    <div class="preview">
      {{  macros.viewCode({   ariaLabel: 'view code for menu badges',    code: sizeBadges  }, '')}}
    </div>
  </section>
{% endblock %}

{% set standardBadges %}
<!--Standard badges-->
<span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>
{% endset%} {% set pillBadges %}
<!--Pill badges-->
<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>
{% endset%} {% set linkBadges %}
<!--Links badges-->
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
{% endset%} {% set subtleBadges %}
<!--Standard badges-->
<span class="badge badge-primary subtle">Primary</span>
<span class="badge badge-secondary subtle">Secondary</span>
<span class="badge badge-success subtle">Success</span>
<span class="badge badge-danger subtle">Danger</span>
<span class="badge badge-warning subtle">Warning</span>
<span class="badge badge-info subtle">Info</span>
<span class="badge badge-dark subtle">Dark</span>
{% endset%} {% set smallBadges %}
<span class="badge badge-primary">5</span>
<span class="badge badge-secondary">200</span>
<span class="badge badge-danger">0</span>
{% endset%} {% set menuBadges %}
<ul class="list-group">
  <li class="list-group-item">
    Inbox <span class="badge badge-secondary float-right">1,932</span>
  </li>
  <li class="list-group-item active">
    Outbox <span class="badge float-right">2</span>
  </li>
  <li class="list-group-item">Spam</li>
</ul>
{% endset%} {% set buttonBadges %}
<button type="button" class="btn btn-primary">
  Notifications <span class="badge badge-light">4</span>
  <span class="sr-only">unread messages</span>
</button>
{% endset%} {% set sizeBadges %}
<h1>Example heading <span class="badge badge-secondary">New</span></h1>
<h3>Example heading <span class="badge badge-secondary">New</span></h3>
<h3>Example heading <span class="badge badge-secondary">New</span></h3>
<h4>Example heading <span class="badge badge-secondary">New</span></h4>
<h5>Example heading <span class="badge badge-secondary">New</span></h5>
<h6>Example heading <span class="badge badge-secondary">New</span></h6>
{% endset%}
