{% extends 'layouts/components.njk' %} {% set navLinkIndex = 1 %} {% set page =
{ class: 'page-components', title: 'Components' } %} {% block content %}
<section>
  <div class="pattern">
    <h1>{{page.title}}</h1>
    <h2>Common interface elements</h2>
    <p>
      Our components are a collection of interface elements that can be reused across multiple USPTO systems. Components can be combined and mixed to efficiently design consistent user experiences.
    </p>
  </div>
</section>

{% endblock %}
