{% extends 'layouts/components.njk' %} {% set page = { class: 'page-pagination',
title: 'Pagination' } %} {% block content %}
<section class="pv-content">
  <div class="pattern">
    <h1>Pagination</h1>

    <h3 id="purpose">Purpose</h3>
    <p>Users need to navigate through pages of items.</p>

    <h3 id="description">Description</h3>
    <p>
      Collections of data are often split into multiple pages for performance
      reasons. Either the size of the data is too much to download at once, or
      the size of the data would take too long to render all at once. Pagination
      controls allow for the user to retrieve or view pages of data in a
      performant matter.
    </p>

    <h3 id="basic-functionality">Basic functionality</h3>
    <p>
      This pagination pattern provides a few variations of the following
      features:
    </p>

    <ul>
      <li>Navigating to prev/next pages</li>
      <li>Navigating to first/last pages</li>
      <li>Jumping to a manually entered page/item</li>
      <li>Adjusting the number of items per page</li>
    </ul>

    <p>
      The features should be chosen based on the user’s needs, the data, and the
      space available. Don’t include pagination features that aren’t necessary.
      If your users have no need to adjust the paging size or jump to a manually
      entered page for a particular type of data, don’t include those features.
    </p>
  </div>
</section>
<section class="pv-content">
  <div class="pattern">
    <h2 id="examples">Examples</h2>
    <p>
      The examples below show various configurations of pagination features.
    </p>
  </div>
  <div class="pattern">
    <h2 id="examples">Full pagination</h2>
    <p>
      The examples below show various configurations of pagination features.
      Depending on the data, you may treat your pages as pages
      <code class="highlighter-rouge">Page 2 of 6</code>.
    </p>
  </div>
  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for full pagination', code:
    paginationFull }, "")}}
  </div>
  <div class="preview d-none">
    {{ macros.viewCode({ ariaLabel: 'View code for full pagination', code:
    paginationPage }, "")}}
  </div>
  <div class="preview d-none">
    {{ macros.viewCode({ ariaLabel: 'View code for pagination', code: pagination
    }, "Pagination")}}
  </div>
  <div class="preview d-none">
    {{ macros.viewCode({ ariaLabel: 'View code for pagination with icons', code:
    paginationIcons }, "Pagination with icons")}}
  </div>
  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for pagination with page input',
    code: paginationInput }, "")}}
  </div>
  <div class="preview d-none">
    {{ macros.viewCode({ ariaLabel: 'View code for disabled and active states of
    pagination', code: paginationActiveDisabled }, "Disabled and active
    states")}}
  </div>
</section>

<section class="pv-content">
  <div class="pattern">
    <h2 id="sizing">Sizing</h2>
    <p>
      Add <code class="highlighter-rouge">.pagination-lg</code> or
      <code class="highlighter-rouge">.pagination-sm</code> for additional
      sizes.
    </p>
  </div>

  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for large pagination', code:
    paginationLarge }, "Large pagination")}}
  </div>
  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for small pagination', code:
    paginationSmall }, "Small pagination")}}
  </div>
</section>

<section class="pv-content">
  <div class="pattern">
    <h2 id="alignment">Example</h2>
    <p class="mb-0 mt-3">Showing 5 of 25 </p>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Project name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Invoice</td>
          <td>
            <span>Add invoice confirmation</span>
          </td>
          <td>
            <span>$4,500</span>
          </td>
        </tr>
        <tr>
          <td>Templates</td>
          <td>
            <span>Refactor templates to use the new templating library</span>
          </td>
          <td>
            <span>$9,000</span>
          </td>
        </tr>
        <tr>
          <td>Payments</td>
          <td>
            <span>Process payments using third party api</span>
          </td>
          <td>
            <span>$5,400</span>
          </td>
        </tr>
        <tr>
          <td>Account Management</td>
          <td>
            <span>Improve account management workflow</span>
          </td>
          <td>
            <span>$6,000</span>
          </td>
        </tr>
        <tr>
          <td>Invoice</td>
          <td>
            <span>Add invoice confirmation</span>
          </td>
          <td>
            <span>$4,500</span>
          </td>
        </tr>
      </tbody>
    </table>

    <nav
      class="pagination-bar float-right"
      aria-label="Page navigation example"
    >
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            href="#!"
          >
            <span>25 per page</span>
          </a>
          <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="#">10 per page</a>
            <a class="dropdown-item active" href="#">25 per page</a>
            <a class="dropdown-item" href="#">50 per page</a>
            <a class="dropdown-item" href="#">75 per page</a>
            <a class="dropdown-item" href="#">100 per page</a>
          </div>
        </li>
      </ul>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link md-icon" href="#">
            <i class="material-icons">first_page</i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link md-icon" href="#">
            <i class="material-icons">navigate_before</i>
          </a>
        </li>
        <li class="page-item">
          <span class="page-link page-go" href="#!"
            >Page
            <select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            of 6</span
          >
        </li>

        <li class="page-item">
          <a class="page-link md-icon" href="#">
            <i class="material-icons">navigate_next</i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link md-icon" href="#">
            <i class="material-icons">last_page</i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</section>

{% endblock %} {% set paginationFull %}
<!--Full pagination-->
<nav class="pagination-bar" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="#!"
      >
        <span>25 per page</span>
      </a>
      <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#">10 per page</a>
        <a class="dropdown-item active" href="#">25 per page</a>
        <a class="dropdown-item" href="#">50 per page</a>
        <a class="dropdown-item" href="#">75 per page</a>
        <a class="dropdown-item" href="#">100 per page</a>
      </div>
    </li>
  </ul>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_before</i>
      </a>
    </li>
    <li class="page-item">
      <span class="page-link page-go" href="#!"
        >Page
        <select name="" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        of 6</span
      >
    </li>

    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_next</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">last_page</i>
      </a>
    </li>
  </ul>
</nav>
{% endset%} {% set paginationPage %}
<!--Full pagination-->
<nav class="pagination-bar" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="#!"
      >
        <span>25 per page</span>
      </a>
      <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#">10 per page</a>
        <a class="dropdown-item active" href="#">25 per page</a>
        <a class="dropdown-item" href="#">50 per page</a>
        <a class="dropdown-item" href="#">75 per page</a>
        <a class="dropdown-item" href="#">100 per page</a>
      </div>
    </li>
  </ul>

  <ul class="pagination">
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_before</i>
      </a>
    </li>
    <li class="page-item">
      <a
        class="page-link dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="#!"
      >
        <span>15/25</span>
      </a>
      <div class="dropdown-menu" style="">
        <span class="ml-3">Jump to page</span>
        <div class="input-group ml-3" style="width: 125px">
          <input type="text" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Go</button>
          </div>
        </div>
      </div>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_next</i>
      </a>
    </li>
  </ul>
</nav>
{% endset%} {% set pagination %}
<!--Pagination-->

<ul class="pagination">
  <li class="page-item">
    <a class="page-link" href="#!">Previous</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">2</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%} {% set paginationIcons %}
<!--Pagination with icons-->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_before</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#!">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#!">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#!">3</a>
    </li>

    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_next</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">last_page</i>
      </a>
    </li>
  </ul>
</nav>
{% endset%} {% set paginationInput %}
<!--Pagination with page input -->

<nav class="pagination-bar" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="#!"
      >
        <span>25 per page</span>
      </a>
      <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#">10 per page</a>
        <a class="dropdown-item active" href="#">25 per page</a>
        <a class="dropdown-item" href="#">50 per page</a>
        <a class="dropdown-item" href="#">75 per page</a>
        <a class="dropdown-item" href="#">100 per page</a>
      </div>
    </li>
  </ul>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_before</i>
      </a>
    </li>
    <li class="page-item">
      <span class="page-link page-go" href="#!"
        >Page <input type="text" value="1" /> of 6</span
      >
    </li>

    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_next</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">last_page</i>
      </a>
    </li>
  </ul>
</nav>
{% endset%} {% set paginationActiveDisabled %}
<!--Pagination-->

<ul class="pagination">
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
      >Previous</a
    >
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%} {% set paginationLarge %}
<!--Pagination large-->
<nav class="pagination-bar pagination-lg" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="#!"
      >
        <span>25 per page</span>
      </a>
      <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#">10 per page</a>
        <a class="dropdown-item active" href="#">25 per page</a>
        <a class="dropdown-item" href="#">50 per page</a>
        <a class="dropdown-item" href="#">75 per page</a>
        <a class="dropdown-item" href="#">100 per page</a>
      </div>
    </li>
  </ul>
  <ul class="pagination pagination-lg">
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_before</i>
      </a>
    </li>
    <li class="page-item">
      <span class="page-link page-go" href="#!"
        >Page
        <select name="" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        of 6</span
      >
    </li>

    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_next</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">last_page</i>
      </a>
    </li>
  </ul>
</nav>
{% endset%} {% set paginationSmall %}
<!--Pagination small-->
<nav class="pagination-bar" aria-label="Page navigation example">
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a
        class="page-link dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        href="#!"
      >
        <span>25 per page</span>
      </a>
      <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#">10 per page</a>
        <a class="dropdown-item active" href="#">25 per page</a>
        <a class="dropdown-item" href="#">50 per page</a>
        <a class="dropdown-item" href="#">75 per page</a>
        <a class="dropdown-item" href="#">100 per page</a>
      </div>
    </li>
  </ul>
  <ul class="pagination pagination-sm">
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">first_page</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_before</i>
      </a>
    </li>
    <li class="page-item">
      <span class="page-link page-go" href="#!"
        >Page
        <select name="" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
        of 6</span
      >
    </li>

    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">navigate_next</i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link md-icon" href="#">
        <i class="material-icons">last_page</i>
      </a>
    </li>
  </ul>
</nav>
{% endset%} {% set paginationCenter %}
<!--Pagination center-->

<ul class="pagination justify-content-center">
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
      >Previous</a
    >
  </li>
  <li class="page-item"><a class="page-link" href="#!">1</a></li>
  <li class="page-item"><a class="page-link" href="#!">2</a></li>
  <li class="page-item"><a class="page-link" href="#!">3</a></li>
  <li class="page-item">
    <a class="page-link" href="#">Next</a>
  </li>
</ul>
{% endset%} {% set paginationRight %}
<!--Pagination right-->

<ul class="pagination justify-content-end">
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
      >Previous</a
    >
  </li>
  <li class="page-item"><a class="page-link" href="#!">1</a></li>
  <li class="page-item"><a class="page-link" href="#!">2</a></li>
  <li class="page-item"><a class="page-link" href="#!">3</a></li>
  <li class="page-item">
    <a class="page-link" href="#">Next</a>
  </li>
</ul>
{% endset%}
