{% extends 'layouts/components.njk' %} {% set page = { class: 'page-pagination'
} %} {% block content %}
<section>
  <div class="pattern">
    <h1>Pagination</h1>

    <h3 id="purpose">Purpose</h3>
    <p>Users need to navigate through pages of items.</p>

    <h3 id="description">Description</h3>
    <p>
      Collections of data are often split into multiple pages for performance
      reasons. Either the size of the data is too much to download at once, or
      the size of the data would take too long to render all at once. Pagination
      controls allow for the user to retrieve or view pages of data in a
      performant matter.
    </p>

    <h3 id="basic-functionality">Basic functionality</h3>
    <p>
      This pagination pattern provides a few variations of the following
      features:
    </p>

    <ul>
      <li>Navigating to prev/next pages</li>
      <li>Navigating to first/last pages</li>
      <li>Jumping to a manually entered page/item</li>
      <li>Adjusting the number of items per page</li>
    </ul>

    <p>
      The features should be chosen based on the user’s needs, the data, and the
      space available. Don’t include pagination features that aren’t necessary.
      If your users have no need to adjust the paging size or jump to a manually
      entered page for a particular type of data, don’t include those features.
    </p>
  </div>
</section>
<section>
  <div class="pattern">
    <h2 id="examples">Examples</h2>
    <p>
      The examples below show various configurations of pagination features.
    </p>
  </div>

  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for pagination', code: pagination
    }, "Pagination")}}
  </div>
  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for small pagination', code:
    paginationSmall }, "Small pagination")}}
  </div>
  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for large pagination', code:
    paginationLarge }, "Large pagination")}}
  </div>
  <div class="preview">
    {{ macros.viewCode({ ariaLabel: 'View code for center pagination', code:
    paginationCenter }, "Center align pagination")}}
  </div>
  <div class="preview pv-lg">
    {{ macros.viewCode({ ariaLabel: 'View code for right pagination', code:
    paginationRight }, "Right align pagination")}}
  </div>
</section>
{% endblock %} {% set pagination %}
<!--Pagination-->

<ul class="pagination">
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item active">
    <span class="page-link">
      2
      <span class="sr-only">(current)</span>
    </span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%} {% set paginationLarge %}
<!--Pagination large-->

<ul class="pagination pagination-lg">
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item active">
    <span class="page-link">
      2
      <span class="sr-only">(current)</span>
    </span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%} {% set paginationSmall %}
<!--Pagination small-->

<ul class="pagination pagination-sm">
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item active">
    <span class="page-link">
      2
      <span class="sr-only">(current)</span>
    </span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%} {% set paginationCenter %}
<!--Pagination center-->

<ul class="pagination justify-content-center">
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item active">
    <span class="page-link">
      2
      <span class="sr-only">(current)</span>
    </span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%} {% set paginationRight %}
<!--Pagination right-->

<ul class="pagination justify-content-end">
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">1</a>
  </li>
  <li class="page-item active">
    <span class="page-link">
      2
      <span class="sr-only">(current)</span>
    </span>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">3</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="#!">Next</a>
  </li>
</ul>
{% endset%}
