{% extends 'layouts/components.njk' %} {% set page = { class: 'page-popovers',
title: 'Popovers' } %} {% block content %}
<section class="pv-content">
  <div class="pattern">
    <h1>Popovers</h1>

    <h2 id="purpose">Purpose</h2>
    <p>
      Users need to be able to access additional related information or
      functionality without a change in context.
    </p>

    <h2 id="description">Description</h2>
    <ul>
      <li>Popovers are a cross between a dialog and a tooltip</li>
      <li>
        Popovers are smaller contextual dialogs that are generally triggered by
        a click
      </li>
      
      <li>
        Popovers display information related to a particular
        item or control
      </li>
      <li>
        Popovers can be dismissed via a close icon, clicking the control that
        opened it, or by clicking anywhere outside of the popover
      </li>
      <li>
        The amount of content in a popover should be relatively short
      </li>
      <li>
        Popovers should be positioned based on the screen space available
      </li>
    </ul>

    <p>Use a popover instead of a tooltip or dialog when:</p>

    <ul>
      <li>You want a contextual relationship that a dialog can’t provide</li>
      
      <li>You have more text/content than can comfortably fit in a tooltip</li>
    </ul>
    <p class="mb-4"><strong>Note:</strong> Currently, popovers do not manage keyboard focus order. Therefore, in order for the popover to remain accessible for all users, avoid adding interactive controls to the popover (i.e. links, buttons, other form elements). If interactive controls are needed, consider using a modal dialog instead.  For more information, please visit the <a href="https://getbootstrap.com/docs/5.0/components/popovers/" target="_blank">Bootstrap Popover Component webpage.</a>  </p>
  
    <div
      class="bs-popover-left popover show fade d-block position-relative"
      role="tooltip"
    >
      <div class="arrow" style="top: 33px"></div>      
      <div class="popover-body">
        <p  class="mb-0">
          <strong>Simple search: </strong>Type a term in the search field and select the <em>search
          button</em>. 
        </p>
      </div>      
    </div>
    <p>&nbsp;</p>
    <div
      class="bs-popover-right popover show fade d-block position-relative"
      role="tooltip"
    >
      <div class="arrow" style="top: 118px"></div>
      <h3 class="popover-header">Search</h3>
      <div class="popover-body">
        <p class="mb-0">
          <strong>Advanced search: </strong>Advanced boolean operators may be used. The default
          operator when searching multiple terms is "AND". For full list of available operators, refer below:
        </p> 
      <ul  class="mb-0">
          <li>AND</li>
<li>OR</li><li>NOT</li>
<li>AND NOT</li>
</ul>
      </div>
    </div>
  </div>
  <div class="preview pv-sm">
    {{ macros.viewCode({ ariaLabel: 'View code for popover', code: popover },
    "")}}
  </div>

  <div class="pattern">
    <button
      type="button"
      class="btn btn-secondary"
      data-container="body"
      data-toggle="popover"
      data-placement="top"
      data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    >
      Popover on top
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-container="body"
      data-toggle="popover"
      data-placement="right"
      data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    >
      Popover on right
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-container="body"
      data-toggle="popover"
      data-placement="bottom"
      data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus."
    >
      Popover on bottom
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-container="body"
      data-toggle="popover"
      data-placement="left"
      data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    >
      Popover on left
    </button>
  </div>
</section>
{% endblock %} {% set popover %}
<!--Popover-->
<div class="popover bs-popover-right" role="tooltip">
  <div class="arrow"></div>
  <h3 class="popover-header">Popover title</h3>
  <div class="popover-body">
    And here's some amazing content. It's very engaging. Right?
  </div>
</div>
{% endset%}
