{% extends 'layouts/landing.njk' %} {% set page = { class: 'page-landing',
title: 'Home' } %} {% block main %}
<main id="main-content" class="">
  <div class="flex-fill">
    <a
      class="float-right mr-4 mt-2 text-white"
      href="https://github.com/USPTO/USPTO-DS-Theme"
      title="View on Github"
    >
      View project on Github
    </a>
  </div>
  <div
    class="jumbotron jumbotron-fluid bg-primary pl-main"
    style="padding-top: 200px; padding-bottom: 200px"
  >
    <div class="container">
      <h1 class="text-center text-white"><span>USPTO</span> Design System v2.x</h1>
      <h3 class="text-center text-white pl-sub-main">
        A unified open source Design System, UI style guide, pattern library, and
        Bootstrap theme.
      </h3>
      <div class="row">
        <div class="col-sm-12 text-center">
          <div style="margin-top: 30px; margin-bottom: 15px">
            <a href="foundation/foundation.html" class="btn btn-light btn-lg"
              >Explore the Design System</a
            >
            <a
              href="https://github.com/USPTO/USPTO-DS-Theme"
              class="btn btn-outline-light btn-lg"
              >Download
            </a>
            <div
              class="small"
              style="opacity: .8; margin-top: 30px; color: #fff"
            >
              Get the current version:
              <div style="padding-top:10px;">
                <a href="https://github.com/USPTO/USPTO-DS-Theme/releases" target="_blank" class="btn btn-outline-light btn-sm">GitHub</a> <a href="https://www.npmjs.com/package/usptostrap" target="_blank" class="btn btn-outline-light btn-sm">NPM</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-6 p-4">
        <h3>What is this?</h3>
        <p>
          The USPTO Design System is an open source UI Design Library, style guide, pattern
          library, and Bootstrap theme. Our documentation is packed full of usability
          guidelines, starter templates, implementation examples, and source code. This design system is based on
          Bootstrap, utilizing components and design elements from the
          <a href="https://designsystem.digital.gov/">USWDS.</a>
        </p>
        <p>
          This design system is a continious work in progress, and is updated regularly with new features, additions, and bug fixes.
        </p>
      </div>

      <div class="col-sm-6 p-4">
        <h3>How can I use it?</h3>
        <p>
          Grab a copy of the library from either of the links above. You can choose to use either the pre-built minified
          CSS or the build directly from the source SCSS.
          <a href="https://github.com/USPTO/USPTO-DS-Theme"
            >View our how-to guide</a
          >
          <i class="icon icon-external-link"></i>
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-6 p-4">
        <h3>Who is it for?</h3>
        <p>
          The USPTO Design System is intended for designers and developers
          working on USPTO related projects. But, since it's open source, anyone
          can take advantage of, and modify, this useful library.
        </p>
      </div>
      <div class="col-sm-6 p-4">
        <h3>Why did we make it?</h3>
        <p>
          We have a lot of web projects at the USPTO. These design guidelines
          and resources aim to create a unified experience across all projects
          at the USPTO, both internal and external.
        </p>
      </div>
    </div>

    <div class="row mt-5 mb-4">
      <div class="col-sm-6 p-4">
        <h3>Not using Bootstrap?</h3>
        <p>
          That's fine! The usability guidelines and other resources contained within may still be useful to your product team.
        </p>
      </div>
      <div class="col-sm-6 p-4">
        <h3>Interested in contributing?</h3>
        <p>
          We want your help! Visit our
          <a href="https://github.com/USPTO/USPTO-DS-Theme"
            >Github repository</a
          >
          <i class="icon icon-external-link"></i> for contribution guidelines.
          If you have improvements or bug fixes, please let us know!
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
