{% extends 'layouts/resources.njk' %} {% set page = { class: 'page-resources',
title: 'Resources' } %} {% block content %}
<section>
  <div class="pattern">
    <!--<h1>{{page.title}}</h1> -->
    <h1>Resources</h1>
    <div class="row">
      <div class="col-6">
        <h2 id="download">Download CSS/SCSS</h2>
        <p>
          This zip file includes the source SCSS files and minified CSS. The
          compiled CSS file includes a themed and extended version of Bootstrap.
          The SCSS files pull in the Bootstrap source at compilation time.
        </p>
        <a href="" class="btn btn-primary">Download v1</a>
        <div class="mt-2 small">
          Looking for older releases? Find them
          <a href="https://github.com/uspto/designpatterns/releases">here.</a>
        </div>
      </div>
      <div class="col-6">
        <h2>View on Github</h2>
        <p>
          The documentation and source are available on Github. If you want to
          build the documentation locally, follow the instructions there.
        </p>
        <a href="" class="btn btn-secondary">uspto/designpatterns</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pattern">
    <h2 id="usingscss">Using the SCSS files</h2>
    <p>
      The <code>usptostrap.scss</code> file uses <code>@import</code> to merge
      all the SCSS files at compilation time. Based on your folder structure,
      dependency management system, and 3rd party libraries,
      <code>usptostrap.scss</code> may need to be updated. Use
      <a href="http://gruntjs.com/">Grunt</a>,
      <a href="http://gulpjs.com/">Gulp</a>,
      <a href="http://maven.apache.org/">Maven</a>, or some
      <a href="http://lesscss.org/usage/index.html#third-party-compilers"
        >other tool</a
      >
      to compile the SCSS files.
    </p>
    <p>Similar to Bootstrap, the SCSS files are organized by module.</p>
    <ul>
      <li>
        All Bootstrap overrides are at the root of the <code>scss</code> folder.
      </li>
      <li>Variables are in <code>_variables.scss</code>.</li>
      <li>CSS for new modules is in the <code>custom</code> folder.</li>
      <li>3rd party plugin themes are in the <code>vendor</code> folder.</li>
    </ul>
    <h3>Using the CSS files</h3>
    <p>
      The compiled CSS file includes a themed and extended version of Bootstrap.
      You shouldn't include the original Bootstrap CSS in your web page. If
      you're going to be writing any additional CSS specific for your web page,
      we recommend using the SCSS files instead and taking advantage of the
      variables when possible.
    </p>
  </div>
</section>

<section>
  <div class="pattern">
    <h2 class="mb-4">Wireframe and prototype resources</h2>

    <h3 id="wireframe">USPTO Axure widget library</h3>
    <p>
      This library allows for rapid wireframing of interactions using the look
      and feel of the USPTO pattern library. The USPTO widget library can be
      used in Axure or other compatible software.
    </p>
    <a href="" class="btn btn-primary">Download USPTO Axure widget library</a>
    <div class="mt-2 small">
      Current release version: <strong>0.1.0</strong>
    </div>
  </div>
</section>

{% endblock %}
