{% extends 'layouts/resources.njk' %} {% set page = { class: 'page-resources',
title: 'Resources' } %} {% block content %}
<section>
  <div class="pattern">
    <!--<h1>{{page.title}}</h1> -->
    <h1>Resources</h1>
    <div class="row">
      <div class="col-12">
        <h2 id="download">Downloading source code</h2>
        <p>
          The USPTO-DS-Theme GitHub library contains full source code and
          instructions for integrating into your project. You can build locally,
          or integrate the USPTO Design System as a dependency with
          <a href="https://www.npmjs.com/package/usptostrap">NPM</a>.
        </p>
        <a
          href="https://github.com/USPTO/USPTO-DS-Theme"
          class="btn btn-primary md-icon"
          ><span class="btn-text">Get the latest release</span></a
        >
        <div class="mt-2 small">
          Looking for v1.0 releases? Find them
          <a href="https://github.com/uspto/designpatterns/releases">here.</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="pattern">
    <h2 id="usingscss">Using the SCSS files</h2>
    <p>
      The <code>usptostrap.scss</code> file uses <code>@import</code> to merge
      all the SCSS files at compilation time. Based on your folder structure,
      dependency management system, and 3rd party libraries,
      <code>usptostrap.scss</code> may need to be updated.
    </p>
    <p>Similar to Bootstrap, the SCSS files are organized by module.</p>
    <ul>
      <li>
        All Bootstrap overrides are at the root of the <code>scss</code> folder.
      </li>
      <li>Variables are in <code>_uspto-variables.scss</code>.</li>
    </ul>
    <h3>Using the CSS files</h3>
    <p>
      The compiled CSS file includes a themed and extended version of Bootstrap.
      You shouldn't include the original Bootstrap CSS in your web page. If
      you're going to be writing any additional CSS specific for your web page,
      we recommend using the SCSS files instead and taking advantage of the
      variables when possible.
    </p>
  </div>
</section>

<section>
  <div class="pattern">
    <h2 class="mb-4">Wireframe and prototype resources</h2>

    <h3 id="wireframe">USPTO Design System Axure widget library</h3>
    <p>Coming soon: in development.</p>
  </div>
</section>

{% endblock %}
