{% extends 'layouts/usage.njk' %} {% set page = { class: 'page-component-placement', title:
'Component placement guide' } %} {% block content %}
<section class="pv-content">
  <div class="pattern">
    <!--<h1>{{page.title}}</h1> -->
    <h1>Component placement guide</h1>
    <h2>Prerequisites</h2>
    <p>Before proceedings with the USPTO Design System, we assume that you are already aware of the basics of HTML, CSS, and Twitter Bootstrap. If you are not aware, then we suggest that you go through an overview of the <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Bootstrap</a> documentation. 
    </p>
<p>For the development of user interfaces, familiarize yourself with basic design requirements of web components and their respective accessibility guidelines. </p>
    <h3>Usage</h3>
    <p>Refer to the <a href="{{relativeRoot}}assets/documents/Standard_UI_Placement_Matrix.xlsx" target="_blank">USPTO-DS Component Placement Guide</a> for the preferred placements of each common component and/or pattern that you plan to use in your design solution. </p>
<p>For more information regarding components, visit the <a href="../components/components.html" target="_blank">Components</a> section of the USPTO-DS.<br>
For more information regarding patterns, visit the <a href="../patterns/patterns.html" target="_blank">Patterns</a> section of the USPTO-DS. 
</p>
    
    
    <h3>Additional resources</h3>
    <ul class="list-unstyled">
        <!-- <li><a href="">Standard UI Placement</a></li>
        <li><a href="">Responsive Design Guardrails</a></li> -->
        <li><a href="https://designsystem.digital.gov/" target="_blank">U.S. Web Design System (USWDS) </a></li>
    </ul>

  </div>
</section>
{% endblock %}
