{% extends 'layouts/usage.njk' %} {% set page = { class: 'page-usage', title:
'How to use USPTO Design System' } %} {% block content %}
<section>
  <div class="pattern">
    <!--<h1>{{page.title}}</h1> -->
    <h1>How to use the USPTO Design System</h1>
    <h2>Prerequisites</h2>
    <p>
      Before proceeding with the USPTO Design System, we are assuming that you
      are already aware about the basics of HTML, CSS and Twitter Bootstrap. If
      you are not well aware of these concepts then we suggest that you go
      through an overview of
      <a href="https://getbootstrap.com/" rel="nofollow" target="_blank"
        >Bootstrap</a
      >.
    </p>
    <h2>Usage</h2>
    <h3>Download the USPTO Design System</h3>
    <p>
      Download the latest version of USPTO Design System
      <a
        href="https://github.com/uspto/uspto-ds-theme"
        rel="nofollow"
        target="_blank"
        >here</a
      >.
    </p>
    <p>
      <img
        src="{{relativeRoot}}/assets/img/resources.png"
        alt="download-usptostrap"
        style="max-width: 100%"
      />
    </p>

    <h3>Resources:</h3>
    <ul>
      <li>
        Download CSS/SCSS: Download the precompiled and minified versions of the USPTO
        Design System CSS, SVG images, and scss. No documentation or original
        source code files are included.
      </li>
      <li>
        View on Github: Get the latest USPTO Design System and JavaScript source
        code directly from GitHub.
      </li>
    </ul>
    <h3>File Structure</h3>
    <p>
      If you have downloaded the USPTO Design System source code then the file
      structure would be as follows:
    </p>
    <p>
      <img
        src="{{relativeRoot}}/assets/img/file-structure.png"
        alt="file-structure"
        style="max-width: 100%"
      />
    </p>

    <h3>What's included?</h3>
    <p>
      <strong>CSS:</strong> Global CSS settings and enhanced with extensible
      classes with an advanced grid system.
    </p>
    <p><strong>Images:</strong> Fundamental SVG images for icons.</p>
    <p>
      <strong>Scss:</strong> The usptostrap.scss file uses @import to merge all
      the SCSS files at compilation time.
    </p>
    <h3>How to use?</h3>
    <p>A basic HTML template using USPTO Design System would look like this:</p>

    <pre
      class="language-markup line-numbers mb-4"
      style="max-height: none !important"
    ><code class=" language-markup">&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;!-- Required meta tags --&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;
&lt;!-- USPTO Design System CSS --&gt;
&lt;link rel="stylesheet" type="text/css" href="css/usptostrap.min.css"&gt;
&lt;title&gt;USPTO Design System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;Starter page&lt;/h1&gt;
&lt;/body&gt;
&lt;/html&gt;
</code>
</pre>
    <h3>Plugins: jQuery.js and Bootstrap.min.js</h3>
    <pre
      class="language-markup line-numbers mb-4"
      style="max-height: none !important"
    ><code class=" language-markup">
&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;!-- Required meta tags --&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;
&lt;!-- USPTO Design System CSS --&gt;
&lt;link rel="stylesheet" type="text/css" href="css/usptostrap.min.css"&gt;
&lt;title&gt;USPTO Design System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;Starter page&lt;/h1&gt;
&lt;!-- jQuery and Bootstrap library --&gt;
&lt;script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" &gt;&lt;/script&gt;
&lt;script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;

</code>
</pre>

    <h3>Custom style sheets</h3>
    <p>
      To apply additional styling to your web application, simply add the proper
      code to your custom-styles.css file and include that file after all style
      sheets. There is no need to edit any of the original USPTO Design System
      files directly.
    </p>
    <pre
      class="language-markup line-numbers mb-4"
      style="max-height: none !important"
    ><code class=" language-markup">&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;!-- Required meta tags --&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;
&lt;!-- USPTO Design System CSS --&gt;
&lt;link rel="stylesheet" type="text/css" href="css/usptostrap.min.css"&gt;
&lt;!-- Custom CSS --&gt;
&lt;link rel="stylesheet" type="text/css" href="css/custom-styles.css"&gt;
&lt;title&gt;USPTO Design System&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;Starter page&lt;/h1&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
  </div>
</section>

{% endblock %}
