{% extends "layouts/default.njk" %}
{% set navLinks = componentNavLinks %}

{% block main %}
  <div class="d-flex">
    {% include 'parts/_sidenav.njk' %}
    <div class="main-container">
      <main id="main-content">
        {% block content%}{% endblock%}
        </main>
      </div>
    </div>
  {% endblock %}