{% extends "layouts/default.njk" %}
{% block header %}{% endblock %}
{% block subheader %}{% endblock %}
{% block main %}
  <div class="main-container">
    <main id="main-content">
      {% block content%}{% endblock%}
      </main>
    </div>
  {% endblock %}