{% extends "layouts/default.njk" %}
{% set navLinks = pageTemplateNavLinks %}

{% block main %}

  {% include 'parts/_sidenav.njk' %}

  <div class="main-container">
    <main id="main-content">
      {% block content%}{% endblock%}
      </main>

    </div>
  </div>
{% endblock %}