{% extends "layouts/default.njk" %}
{% set navLinks = patternsNavLinks %}

{% block main %}
<div class="row">
  <div class="col-2">
    <div class="d-flex"> {% include 'parts/_sidenav.njk' %} </div>
  </div>
  <div class="col-10">
    <div class="main-container">
      <main id="main-content"> {% block content%}{% endblock%} </main>
    </div>
  </div>
</div>
{% endblock %}