{% import '_macros.njk' as macros %}
{% if build %}{% set x = '?b=' + build %}
{% endif %}
<!DOCTYPE html>
<html lang="en"{% if page.class %} class="{{ (page.class or '') | trim }}"{% endif %}>
  <head>
    {% include 'parts/_head.njk' %}
    {% include 'parts/_styles.njk' %}
    {% block head %}{% endblock %}
  </head>
  <body class="">
    {% block body %}
      {% block skipnav %}{% include 'parts/skipnav.njk' %}
      {% endblock %}

      {% block banner %}{% include 'templatesParts/banner.njk' %}
      {% endblock %}
      <header id="global-header">
        {% block header %}
          {% include 'templatesParts/_header.njk' %}
        {% endblock %}
        {% block subheader %}
          {% include 'templatesParts/_subheader.njk' %}
        {% endblock %}
      </header>

      <div 
      {% if page.containerType %}
      class="{{page.containerType}}"
      {% else %}
      class="container"
{% endif %}
      >
        {% block main %}  
          main
        {% endblock %}
      </div>

    {% endblock %}

    {% block footer %}{% include 'templatesParts/_footer.njk' %}
    {% endblock %}

    {% block scripts %}{% include 'templatesParts/_scripts.njk' %}
    {% endblock %}
    {% block body_end %}{% endblock %}
  </body>
</html>