{% extends "layouts/templateDefault.njk" %}
<!--{% set navLinks = foundationNavLinks %}-->

{% block main %}
<div class="row">
  <div class="col-3"> {% include 'templatesParts/_sidenav.njk' %}</div>
  <div class="col-9 border-left border-light "> {% block content%}{% endblock%}</div>
</div>
  
  {# <div class="d-none d-sm-none d-md-block">
    {% include 'templatesParts/_sidenav.njk' %}
  </div> #}
 
  {# <main id="">
    {% block content%}{% endblock%}
    </main>
  </div> #}
{% endblock %}