{% extends "layouts/templateDefault.njk" %} {% set page = {
class:'page-document', title: 'Multiple language selector', containerType:'main' } %} {% block
main %}

<section class="jumbotron jumbotron-fluid bg-cyan rounded-0 m-0">
  <div class="container">
    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Patents
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Patents</a>
          <a class="dropdown-item" href="#">Trademark</a>
          <a class="dropdown-item" href="#">Application</a>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Text input with dropdown button"
        value=""
      />
      <div class="input-group-append">
        <button class="btn btn-primary md-icon" type="button">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
    <div class="help-block d-none">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
</section>

<section class="container mt-n5">
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="card h-100 border border-light text-center">
        <div class="card-body">
          <i class="material-icons md-3x text-info">batch_prediction</i>
          <h4 class="card-title text-info">Heading</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="innovation-lab.html" class="btn btn-info">Link button</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card h-100 border border-light text-center">
        <div class="card-body">
          <i class="material-icons md-3x text-info">biotech</i>
          <h4 class="card-title text-info">Heading</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="btn btn-info">Link button</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card h-100 border border-light text-center">
        <div class="card-body">
          <i class="material-icons md-3x text-info">devices</i>
          <h4 class="card-title text-info">Heading</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="btn btn-info">Link button</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="card h-100 border border-light text-center">
        <div class="card-body">
          <i class="material-icons md-3x text-info">preview</i>
          <h4 class="card-title text-info">Heading</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="btn btn-info">Link button</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-n4 bg-light">
  <div class="container">
    <div class="row pt-3 pt-sm-5">
      <div class="col-md-12 mb-5">
        <h3 class="display-4 text-primary">Section heading</h3>
        <br />
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title border-bottom border-info border-3 pb-2">
              Heading
            </h4>
            <img
              class="card-img img-fluid"
              src="{{relativeRoot}}assets/img/pic1-small.jpg"
              alt="Alt text"
            />
            <p class="card-text mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" target="_blank" class="card-link text-info"
              >Link page (.pdf)</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title border-bottom border-info border-3 pb-2">
              Heading
            </h4>
            <img
              class="card-img img-fluid"
              src="{{relativeRoot}}assets/img/pic2-small.jpg"
              alt="Alt text"
            />
            <p class="card-text mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" target="_blank" class="card-link text-info"
              >Link page (.pdf)</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title border-bottom border-info border-3 pb-2">
              Heading
            </h4>
            <img
              class="card-img img-fluid"
              src="{{relativeRoot}}assets/img/pic3-small.jpg"
              alt="Alt text"
            />
            <p class="card-text mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" target="_blank" class="card-link text-info"
              >Link page (.pdf)</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 d-none">
      <div class="card border-0">
        <div class="card-body">
          <h4 class="card-title border-bottom border-info border-3 pb-2">
            Your Success story
          </h4>
          <img
            class="card-img img-fluid"
            src="assets/img/ss-you.png"
            alt="Success story"
          />
          <p class="card-text mt-3">
            No idea is too big or too small. Just send us a request and we can
            figure out how we can help. Our projects are tracked using an Agile
            approach.
          </p>
          <a href="#" class="card-link text-info">View the case study (.pdf)</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
