{% extends 'layouts/pageTemplates.njk' %} {% set navLinkIndex = 1 %} {% set page
= { class: 'page-template', title: '404 page template' } %} {% block content %}
<section class="pv-content">
  <div class="pattern">
    <h1>Error pages</h1>
  </div>
  <div class="pattern">
    <h2 id="404-error">404 error page</h2>
    <h5>A 404 page informs users that a requested page doesn’t exist.</h5>
    <div class="py-4">
      <p>
        A 404 page informs users that a requested page doesn’t exist. This kind
        of error can be frustrating or confusing. Straightforward
        <a href="https://www.plainlanguage.gov/" target="_blank"
          >plain language</a
        >
        can help. Use a 404 page to explain the error and instruct the user what
        to do next.
      </p>
    </div>
    <a href="{{ relativeRoot }}/examples/404-page-example.html" target="_blank"
      >404-page example</a>
  </div>
  <div class="pattern">
    <h2 id="server-error">Additional error page examples</h2>
    <h5>Less common error pages to guide users toward corrective actions.</h5>
    <div class="py-4">
      <p>
        Select each item below to view the specific error code template pages:
      </p>
    </div>

    <a href="{{ relativeRoot }}/examples/301-page-example.html" target="_blank">301 - Moved permanently</a><br />
    <a href="{{ relativeRoot }}/examples/302-page-example.html" target="_blank">302 - Moved temporarily</a><br />
    <a href="{{ relativeRoot }}/examples/401-page-example.html" target="_blank">401 - Unauthorized</a><br />
    <a href="{{ relativeRoot }}/examples/403-page-example.html" target="_blank">403 - Forbidden</a><br />
    <a href="{{ relativeRoot }}/examples/500-page-example.html" target="_blank">500 - Something went wrong (general server error)</a><br />
    <a href="{{ relativeRoot }}/examples/503-page-example.html" target="_blank">503 - Service unavailable</a><br />
    <a href="{{ relativeRoot }}/examples/504-page-example.html" target="_blank">504 - Gateway timeout</a><br />
    
  </div>
</section>

{% endblock %}
