{% extends 'layouts/pageTemplates.njk' %} {% set page = { class: '', title:
'Loading spinners' } %} {% block content %}
<h1>{{page.title}}</h1>
<h2 class="">Full page loading example</h2>
<a href="../examples/full-page-loading-spinner.html" target="_blank"
  ><img
    class="img-thumbnail"
    src="{{relativeRoot}}assets/img/loading-spinner-full.png"
/></a>

<h2 class="mt-3">Spinner only for the container example</h2>
<a href="../examples/container-loading-spinner.html" target="_blank"
  ><img
    class="img-thumbnail"
    src="{{relativeRoot}}assets/img/loading-spinner-ie.png"
/></a>

<h2 class="mt-3">Spinner for IE 11</h2>
<a href="../examples/loading-spinner-ie.html" target="_blank"
  ><img
    class="img-thumbnail"
    src="{{relativeRoot}}assets/img/loading-spinner-ie.png"
/></a>
{% endblock %}
