{% extends 'layouts/pageTemplates.njk' %} {% set navLinkIndex = 1 %} {% set page
= { class: 'page-template', title: 'Multistep form page template' } %} {% block
content %}
<section class="pv-content">
  <div class="pattern">
    <h1>Multistep form page</h1>
    <ul class="list-unstyled">
      <li>
        <a
          href="{{ relativeRoot }}/examples/multistep-form-modern-page.html"
          target="_blank"
          >Multistep form modern</a
        >
      </li>
      <li>
        <a
          href="{{ relativeRoot }}/examples/multistep-form-page.html"
          target="_blank"
          >Multistep form legacy</a
        >
      </li>
    </ul>
  </div>
</section>
{% endblock %}
