<select class="form-control my-3" id="leftSideNav" >
  
    <option value="">Parent link</option>
    <option value="">Parent link</option>
    <option value="">Parent link</option>
    <option value="">Parent link</option>
  
</select>