

     
      <nav id="sidenav" aria-label="Document page links">
 <ul class="sidenav border-0">
      <li>
        <a href="#">Parent link</a>        
      </li>
      <li class="active">
        <a href="#" aria-current="page">Parent link</a>
        <ul class="sidenav-sublist">
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
            <li>
              <a href="#">Child link</a>
            </li>
        </ul>
      </li>
      <li>
        <a href="#">Parent link</a>        
      </li>
      <li>
        <a href="#">Parent link</a>        
      </li>
     
  </ul>
</nav>