<section class="banner" aria-label="Official government website">
  <div class="accordion">
    <div class="d-md-none">
      <button class="btn accordion-btn" type="button" data-toggle="collapse" data-target="#gov-banner-demo"
          aria-expanded="false" aria-controls="gov-banner-demo">
        <div class="banner-inner">
          <img class="banner-header-flag mr-2" src="{{img}}us_flag_small.png" alt="U.S. flag">
          <div class="flex-fill">
            <p class="banner-header-text">An official website of the United States government
                <span class="expand-btn">Here’s how you know
                  <i class="material-icons">keyboard_arrow_down</i></span></p>
          </div>
          <span class="close-btn">
            <i class="material-icons ">close</i>
          </span>
        </div>
      </button>
    </div>
    <div class="d-none d-md-block">
      <div class="banner-inner align-itens-center">

        <img class="banner-header-flag mr-2" src="{{img}}us_flag_small.png" alt="U.S. flag">

        <p class="banner-header-text">An official website of the United States government</p>

        <button class="btn banner-btn ml-2" type="button" data-toggle="collapse" data-target="#gov-banner-demo"
            aria-expanded="false" aria-controls="gov-banner-demo">
            Here’s how you know
            <i class="material-icons">keyboard_arrow_down</i>
        </button>

      </div>
    </div>
    <div class="banner-content collapse" id="gov-banner-demo">
      <div class="row no-gutters-sm">
        <div class="col-md-6 media">
          <img class="banner-icon align-self-start" src="{{img}}icon-dot-gov.svg" role="img" alt="Dot gov">
          <div class="media-body">
            <p>
              <strong>Official websites use .gov</strong>
              <br />
              A <strong>.gov</strong> website belongs to an official government organization in the United States.
            </p>
          </div>
        </div>
        <div class="col-md-6  media">
          <img class="banner-icon align-self-start" src="{{img}}icon-https.svg" role="img" alt="Https">
          <div class="media-body">
            <p>
              <strong>The site is secure.</strong>
              <br />
              A <strong>lock</strong> ( <i class="material-icons md-sm">lock</i> ) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>